@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fill-row {
  grid-column: 1/-1;
}

.flex-v,
.flex-h {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.back-color-1 {
  background-color: #2e2e2e;
}

.back-color-2 {
  background-color: #555555;
}

.back-color-3 {
  background-color: #747474;
}

.back-color-4 {
  background-color: #858585;
}

body {
  width: 100%;
  min-width: 980px;
  background-color: blue;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  width: auto;
  background-color: #686767;
}

.logo {
  height: 100px;
  margin: 20px 0 0 20px;
  background-color: transparent;
}

.nav-items {
  text-align: center;
}

.nav-items a p {
  color: #fff;
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: italic;
}

.nav-items a img {
  height: 45px;
  margin-top: 20px;
}

.nav-items h2 {
  font-family: "Spectral", serif;
  font-weight: 700;
  color: #fff;
}

.nav-btn {
  width: 100px;
  margin: 0 10px;
}

.nav-btn div {
  background-color: transparent;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border: 2px #000 solid;
  border-radius: 5px;
}

.top-container {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 500px;
  grid-auto-flow: column;
  background-color: red;
}

.top-continer-items {
  padding-top: 50px;
  padding-left: 100px;
}

.top-continer-items img {
  height: 75px;
  float: left;
  margin-right: 20px;
}

.top-continer-items i {
}

.latest-articles {
  position: relative;
  top: 0;
  height: 0;
  text-align: center;
  font-size: 30px;
  color: #fff;
  border: 1px solid #000;
}

.latest-articles h1 {
  background-color: #fff;
  margin: 0 auto;
  width: 324px;
  color: #000;
}

.name {
  float: left;
  margin-right: 2px;
}

.article-title {
  margin-top: 100px;
}

.article-title h2 {
  font-size: 60px;
}

.article-title span {
  display: inline;
  font-size: 25px;
  position: relative;
  top: -10px;
}

.article-tags {
  margin-top: 20px;
  font-size: 20px;
  width: 40%;
  margin-right: 15px;
}

.article-tags h4::before {
  content: "#";
}

.article-tags sup {
  vertical-align: super;
}

.membership {
  background-color: chartreuse;
  height: 200px;
}

.latest-posts {
  background-color: cyan;
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px 200px 100px;
  grid-gap: 10px;
}

.latest-posts-item {
  background-color: #000;
}

.handbook {
  width: 100%;
  height: 300px;
  background-color: yellow;
}

.community-links {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100px repeat(3, 100px) 100px;
  background-color: pink;
  grid-gap: 10px;
}

.community-link {
  background-color: red;
}

.smashing-book {
  height: 100px;
  width: 100%;
  background-color: rgb(20, 204, 36);
}

.curated-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px 100px;
  background-color: purple;
  grid-gap: 10px;
}

.curated-post {
  background-color: brown;
}

.newsletter {
  grid-column: 2/-1;
}

footer {
  background-color: black;
  height: 200px;
}
